@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Raleway', sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}


body {
  background-image: linear-gradient(
    #220101,
    black
  );
  height: 100vh;
  overflow: hidden
}

@media screen and (min-width: 750px) {
  .carousel::-webkit-scrollbar {
    display:block;
    border: solid 1px rgb(65, 65, 65);
    border-radius: 10px;
    
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
  }
  
}

