@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}


body {
  background-image: linear-gradient(
    #220101,
    black
  );
  height: 100vh;
}

* {
  font-family: 'Raleway', sans-serif;
}

.movieCard {
  background-size:contain;
  background-image: url(../public/moviePlaceholder.webp);
}