@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}


body {
  background-color: black;
  height: 100vh;
}

* {
  font-family: 'Raleway', sans-serif;
}